.rg-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    width: 1905px;
    margin-top: 5px;
    border-radius: 25px;
}

.line {
    background-color: #fff;
    width: 800px;
    height: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info {
    padding: 5px;
    margin: 5px;
}

.nsy_h {
    color: red;
}