.pg-bg {
    background-color: #1a1a1a;
    width: 1870px;
    height: 1480px;
    border-radius: 25px;
    padding: 15px;
    margin-top: 5px
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dream-block {
    background-color: #1f1f1f;
    box-shadow: 0.01px 5px #ff6600;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.dream-block:hover {
    transition: all 0.3s ease;
    box-shadow: 5px 10px #ff6600;
}

.img-block {
    width: 500px !important;
    height: 300px !important;
    border-radius: 25px;
    box-shadow: 0.01px 5px #ff6600;
}