@media screen and (max-width: 1280px) { 
    div.product-info-block 
    {
        width: 800px;
    }
    div.news-feed
    {
        width: 800px;
    }
    div.news-entry 
    {
        width: 770px;
    }
} 
@media screen and (max-width: 1140px) { 
    div.product-info-block 
    {
        width: 800px;
    }
    div.news-feed
    {
        width: 800px;
    }
    div.news-entry 
    {
        width: 770px;
    }
} 
@media screen and (max-width: 992px) { 
    div.nav-bar 
    {
        width: 300px;
        height: 70px;
    }
    div.re_logo 
    {
        width: 400px;
        height: 70px;
    }
    div.product-info-block 
    {
        width: 350px;
    }
    div.news-feed
    {
        width: 370px;
        height: 300px;
    }
    div.news-entry 
    {
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}

.root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.re_logo {
    width: 500px;
    height: 100px;
}

.product-info-block {
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #002f39;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    width: 800px;
    color: #fff;
}

.screenshot {
    border-radius: 25px;
}

.news-feed {
    background-color: #002f39;
    border-radius: 25px;
    width: 800px;
    height: 800px;
    margin: 15px;
}

.news-entry {
    background-color: #00262e;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 770px;
    height: 100px, auto;
}

.news-header {
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.news-text {
    font-size: 10px;
    text-align: center;
    display: block;
    justify-content: center;
    color: #959595;
}