.root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.re_logo {
    width: 500px;
    height: 100px;
}

.product-info-block {
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #002f39;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    width: 800px;
    color: #fff;
}

.screenshot {
    border-radius: 25px;
}

.news-feed {
    background-color: #002f39;
    border-radius: 25px;
    width: 800px;
    height: 800px;
    margin: 15px;
}

.news-entry {
    background-color: #00262e;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 770px;
    height: 100px, auto;
}

.news-header {
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.news-text {
    font-size: 10px;
    text-align: center;
    display: block;
    justify-content: center;
    color: #959595;
}