@media only screen and (max-width: 480px) 
{
    div.news-btn-b
    {
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 35px;
    }
}

body {
    font-family: 'Poppins';
    background-color: #001c22;
    text-align: center;
    color: #fff;
}

.news-h-b {
    background-color: #002f39;
    border-radius: 25px;
    transition: all 0.3s ease;
    margin: 25px;
}

.news-h-b:hover {
    border-radius: 5px;
    transition: all 0.3s ease;
}

.news-t-b {
    background-color: #002f39;
    border-radius: 25px;
    padding: 5px;
    transition: all 0.3s ease;
    margin: 15px;
}

.news-t-b:hover {
    border-radius: 25px;
    padding: 10px;
    transition: all 0.3s ease;
}

.news-header {
    font-size: 50px;
}

.news-h1 {
    font-size: 30px;
    padding: 5px;
}

.news-tp {
    font-size: 20px;
}

.news-btn-b {
    margin: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.footer-news {
    background-color: #002f39;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: auto;
    border-radius: 25px;
    margin: 15px;
}