body {
    background-color: #001c22;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
}

.notification {
    background-color: #002f39;
    color: #fff;
    border-radius: 25px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.btn {
    font-size: 15px;
    background-color: #001c22;
    color: #fff;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    font-size: 15px;
    background-color: #fff;
    color: #001c22;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
}